#modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: start;
  width: var(--max-width);
  background: var(--bg-tertiary);
  border-radius: 0.5rem;
  margin-top: 1rem;

  & div {
    display: flex;
    justify-content: end;
    width: 98%;
    margin-top: 0.5rem;

    img {
      width: 2.25rem;
      height: 2.25rem;
    }
  }

  & .modal-header {
    display: flex;
    padding: auto;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;

    & h2 {
      font: var(--title);
      color: var(--content-primary);
      padding-inline: 1.25rem;
    }

    & p {
      font: var(--pg-md);
      color: var(--content-secondary);
      padding-inline: 1.25rem;
    }
  }

  & label {
    font: var(--label-md);
    color: var(--content-primary);
    padding-inline: 1.25rem;
    gap: 0.875rem;
  }

  & input {
    all: unset;
    font: var(--label-lg);
    color: var(--content-secondary);
    width: 80%;
    margin-inline: auto;
    margin-bottom: 1rem;
    border: 1px solid var(--border-primary);
    height: 2.5rem;
    border-radius: 0.25rem;

    &:hover {
      border-color: var(--border-secondary);
    }

    &:focus {
      border-color: var(--brand);
      outline: none;
    }
  }

  & input[id="tutor"] {
    background-image: url(../../src/assets/User--Streamline.svg);
    background-repeat: no-repeat;
    background-position: 0.5rem center;
    padding-left: 2.5rem;
  }

  & input[id="pet"] {
    font: var(--pg-md);
    color: var(--content-primary);
    background-image: url(../../src/assets/Pet-Paw.svg);
    background-repeat: no-repeat;
    background-position: 0.5rem center;
    padding-left: 2.5rem;
  }

  & input[id="phone"] {
    font: var(--pg-md);
    color: var(--content-primary);
    background-image: url(../../src/assets/Phone.svg);
    background-repeat: no-repeat;
    background-position: 0.5rem center;
    padding-left: 2.5rem;
  }

  & textarea {
    all: unset;
    font: var(--label-lg);
    color: var(--content-secondary);
    width: 85%;
    margin-inline: auto;
    margin-bottom: 1rem;
    border: 1px solid var(--border-primary);
    height: auto;
    border-radius: 0.25rem;
    padding: 0.5rem;

    &:hover {
      border-color: var(--border-secondary);
    }

    &:focus {
      border-color: var(--brand);
      outline: none;
    }
  }

  & input[type="date"] {
    all: unset;
    font: var(--label-lg);
    width: 78%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    margin: auto;
    border: 1px solid var(--border-primary);
    padding: 0.5rem 0.5rem 0.5rem 2.5rem;
    border-radius: 0.5rem;
    color: var(--content-secondary);
    margin-bottom: 1rem;

    &::-webkit-calendar-picker-indicator {
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &::before {
      content: "";
      position: absolute;
      background: url("../../src/assets/Calendar.svg") center/contain;
      width: 1.25rem;
      height: 1.25rem;
      left: 0.5rem;
      top: 50%;
      transform: translateY(-50%);
      color: var(--content-secondary);
      pointer-events: none;
    }
  }

  & input[id="hour"] {
    all: unset;
    font: var(--label-lg);
    width: 78%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    margin: auto;
    border: 1px solid var(--border-primary);
    padding: 0.5rem 0.5rem 0.5rem 2.5rem;
    border-radius: 0.5rem;
    color: var(--content-secondary);
    margin-bottom: 1rem;
    background-image: url("../../src/assets/Clock-Circle.svg");
    background-repeat: no-repeat;
    background-position: 0.5rem center;
    background-size: 1.25rem;

    /* Remove controles específicos do Chrome/Safari */
    &::-webkit-time-picker-indicator {
      display: none;
    }

    &::-webkit-calendar-picker-indicator {
      display: none;
      opacity: 0;
    }

    /* Remove controles do Firefox */
    &::-moz-time-picker {
      display: none;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  & .btn {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    cursor: pointer;
  }

  & button[id="schedule-btn"] {
    all: unset;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    font: var(--label-lg);
    color: #050505;
    background: var(--brand);
    box-shadow: 0 0 20px 5px rgba(146, 130, 250, 0.3);
    border-radius: 0.5rem;
    width: 7.687rem;
    height: 3rem;

    &:hover {
      background: var(--bg-highlights);
    }
  }
}

@media (width >= 80em) {
  #modal {
    /* width: 30rem; */
    max-width: 28rem;

    & label {
      padding-inline: 1.5rem;
    }

    & .modal-header {
      & h2 {
        padding-inline: 1.5rem;
        font: bold 1.5rem/2rem var(--inter-tight);
      }

      & p {
        font: var(--pg-md);
        margin-bottom: 1rem;
      }
    }
  }
}
